<div class="input-group">
  <% if @product.product_customization_types.present? && @product.product_customization_types.first.calculator.type == "Spree::Calculator::ProductLength" %>
    <%= hidden_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
  <% else %>
    <%= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
  <% end %>
  <span class="input-group-btn">
    <%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
      <%= Spree.t(:add_to_cart) %>
    <% end %>
  </span>
</div>